<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div style="margin: 15px"><h1>Рассписание по классам</h1></div>
<form action="/per-class" method="GET">
    <div style="margin: 15px" >
        <select name="class" id="class">
            {% for class in classes %}
                <option value="{{ class.id }}">{{ class }}</option>
            {% endfor %}
        </select>
        <input type="text" id="week" name="week" value="2" hidden="hidden">
        <input type="submit">
    </div>
</form>

<div style="margin: 15px">
    <a href="/full?week=2">Всё рассписание</a>
</div>
<div style="margin: 15px">
    <a href="/full/v2?week=2">Всё рассписание (v2)</a>
</div>

</body>
</html>